#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
  background: linear-gradient(135deg, #f5c5d8, #f0a0c0, #f5c5d8, #f5dae8);
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  display: none;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ff69b4aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #ff1493aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-header {
  margin-bottom: 2rem;
}

.app-header h1 {
  font-family: "Supermercado One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  margin: 1rem 0;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(217, 123, 168, 0.4);
}

.subtitle {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.2rem;
  color: #fff;
  margin: 0;
}
